html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-image: url(https://cdn.dribbble.com/users/392575/screenshots/1232960/shot_tree_of_seasons_01.gif);
    background-position: center;
    font-size: 13px;
}

#form-card {
    margin: 0px;
    background-color: #EEEEEE;
}

#bot-info-card {
    background-color: #424242;
    margin: 0px;
}

.material-icons {
    font-size: 24px !important;
}

.back-button {
    font-size: 30px !important;
    color: white;
}

.account {
    font-size: 40px !important;
    padding-left: 10px;
    color: white;
}

.message-card {
    max-width: 75%;
    padding: 3%;
}

.message-time {
    font-size: 8.5px;
    margin-top: 3px;
    color: #90A4AE;
}

::-webkit-scrollbar {
    display: none;
}